.button {
  background-color: var(--color-main);
  color: var(--color-white);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.5;
  padding: 14px;
  font-size: 12px;
  border-radius: 30px;
  text-transform: uppercase;
}
