.button {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 16px;
  height: 16px;
  stroke: var(--color-main);
}

.button:hover .icon {
  stroke: var(--color-white);
}

@media screen and (min-width: 768px) {
  .button {
    width: 42px;
    height: 42px;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}
