.popular-recipes {
  margin: 120px 0;
}

.recipes-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe-item {
  flex: 1 0 23%;
  min-width: 300px;
  max-width: 400px;
}

.popular-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-main);
  margin-bottom: 40px;
}
