.profile-head-holder {
  max-width: 400px;
  min-width: 300px;
  margin-bottom: 40px;
}
.profile-head {
  border: 1px solid var(--color-gray);
  border-radius: 30px;
  padding: 40px 80px;
  text-align: center;
  margin-bottom: 20px;
}

.profile-img-holder {
  border-radius: 50%;
  background-color: #f9f9f9;
  width: 120px;
  height: 120px;
  margin: 0 auto 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.no-image {
  border-radius: 0;
  width: 60px;
  height: 60px;
}

.upload-avatar {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--color-button);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  width: 41px;
  height: 41px;
}
.upload-avatar input {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.user-login {
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-main);
  margin-bottom: 18px;
}

.profile-data {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 232px;
  gap: 6px;
}

.profile-data-li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-data-li-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: var(--color-gray);
}

.profile-data-li-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--color-main);
}

.profile-head-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--color-button);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 16px 30px;
  min-height: 56px;
}
