.card {
  list-style: none;
  width: 100%;
}

.image {
  margin: 0 0 16px;
  height: 275px;
  width: 100%;

  object-fit: cover;
  object-position: center;

  border-radius: 30px;
  overflow: hidden;
}

.title {
  margin: 0 0 8px;

  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: -0.2px;


  text-transform: uppercase;
}

.text {
  margin: 0 0 8px;

  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;

  font-weight: 500;
}

.info {
  display: flex;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.avatarContainer {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  height: 100%;
}

.name {
  margin: 0;

  font-size: 14px;
  line-height: 20px;

  letter-spacing: -0.2px;


}

.buttons {
  display: flex;
  gap: 4px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 36px;
  width: 36px;

  border-radius: 50%;
  background-color: #fff;

  border: 1px solid var(--color-gray)
}

.icon {
  height: 16px;
  width: 16px;
}

@media (min-width: 768px) {
  .card {
  }

  .image {
    height: 275px;
  }

  .title {
    font-size: 20px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
  }

  .avatarContainer {
    height: 40px;
    width: 40px;
  }

  .name {
    font-size: 16px;
    line-height: 24px;
  }

  .btn {
    height: 42px;
    width: 42px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
  }
}
