.container {
    width: 100%;
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
}



.recipe-category {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media screen and (min-width: 1440px) {
    .recipe-category {
        grid-template-columns: 330px 910px;
        gap: 40px;
    }
}

.recipes-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
    column-gap: 20px;
}

@media screen and (min-width: 768px) {
    .recipes-list {
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .recipes-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
