
.card {
  width: 100%;
  min-height: 370px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #eee;
  position: relative;
}

@media screen and (min-width: 768px) {
  .card {
    width: 342px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 325px;
  }
}

.cardImg {
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cardActions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 24px;
  display: flex;
  gap: 4px;
}

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 0 14px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlebutton {
  background: rgba(255, 255, 255, 0.2);
}
.iconbutton {
  color: var(--color-white);
}
