.container {
  width: 283px;
  text-align: center;
}

.logout-title {
  font-size: 28px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: var(--color-gray);
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0;
  margin-top: 32px;
}

.logout-button {
  background-color: var(--color-button);
}

.logout-button:hover,
.logout-button:focus {
  background-color: var(--color-main);
}

.cancel-button {
  background-color: var(--color-white);
  color: var(--color-main);
  border: 1px solid var(--color-gray);
}

.cancel-button:hover,
.cancel-button:focus {
  border: 1px solid var(--color-main);
}

@media screen and (min-width: 768px) {
  .container {
    width: 401px;
  }

  .logout-title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px;
  }

  .text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-button);
  }

  .list {
    margin-top: 40px;
  }
}
