.component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .component {
    margin-top: 40px;
  }

  .image_small {
    width: 128px;
    height: 116px;
  }

  .image_big {
    width: 302px;
    height: 273px;
  }
}
