.title {
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.item {
  width: calc((100% - 16px) / 2);
}

@media screen and (min-width: 768px) {
  .list {
    gap: 20px;
  }

  .item {
    width: calc((100% - 40px) / 3);
  }
}
