.userPageWrapper {
  max-width: 375px;

  margin: 64px auto;
  padding-left: 16px;
  padding-right: 16px;
}
.userPageButton {
  width: 100%;
  /*margin-top: 32px;*/
}
.userPageMainTitle {
  margin-top: 32px;
}
.userPageSubtitle {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .userPageWrapper {
    max-width: 704px;
    margin-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .userPageSubtitle {
    width: 443px;
  }
  .userPageButton {
    width: 394px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .userPageWrapper {
    max-width: 1280px;
    margin-bottom: 120px;
  }
  .userWrapper {
    display: flex;
    gap: 40px;
  }
  .userInfoWrapper {
    display: flex;
    flex-direction: column;
  }
  .tabsWrapper {
    display: flex;
    flex-direction: column;
  }
}
