.category-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .category-list {
    width: 704px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .category-list {
    width: 1280px;
    margin: 0 auto;
  }
}


.category-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  color: var(--color-white);
  min-height: 370px;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .category-btn {
    width: 342px;
  }
}

@media screen and (min-width: 1440px) {
  .category-btn {
    width: 325px;
  }
}


@media screen and (min-width: 768px) {

  .category-list > div:nth-child(3),
  .category-list > div:nth-child(4),
  .category-list > div:nth-child(8),
  .category-list > div:nth-child(10),
  .category-list > div:nth-child(13) {
    min-width: 704px;
  }
}
@media screen and (min-width: 1440px) {

  .category-list > div:nth-child(3),
  .category-list > div:nth-child(4),
  .category-list > div:nth-child(8),
  .category-list > div:nth-child(10),
  .category-list > div:nth-child(13) {
    min-width: 590px;
  }
}
