.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 120px;
}

.category-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  color: var(--color-white);
  max-width: 325px;
  min-height: 370px;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
}

.category-list > div:nth-child(3),
.category-list > div:nth-child(4),
.category-list > div:nth-child(8),
.category-list > div:nth-child(10) {
  max-width: 539px;
}
