.signIn {}

.title {
  margin: 0 0 32px;

  text-transform: uppercase;
  text-align: left;

  font-size: 28px;
  font-weight: 900;
}

.input {}

.form {}

.subtitle {
  font-size: 14px;
  color: #bfbebe;
}

.subtitle>span {
  color: #000;
}

.form {}

.inputs {
  margin: 0 0 32px;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  padding: 14px;

  border-radius: 30px;
  border: 1px solid #bfbebe;

  transition: border-color 0.3s;
  outline: none;
}

.input::placeholder {
  font-size: 14px;
  color: #bfbebe;
}

.input:hover,
.input:focus {
  border-color: #000;
}

.button {
  margin: 0 0 16px;
  width: 100%;
  height: 48px;

  text-align: center;
  text-transform: uppercase;
  font-size: 14px;

  border-radius: 30px;
  border: 1px solid #bfbebe;
  background-color: #bfbebe;

  color: #fff;

  outline: none;
}

.showPass {
  all: unset;
  position: absolute;
  bottom: 14px;
  right: 20px;

  cursor: pointer;
}

.icon {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .title {
    margin: 0 0 40px;

    text-transform: uppercase;
    text-align: left;

    font-size: 32px;
  }

  .inputs {
    margin: 0 0 40px;

  }

  .input {
    padding: 16px 18px;

    border-radius: 30px;
    border: 1px solid #bfbebe;

    transition: border-color 0.3s;
    outline: none;
  }

  .input::placeholder {
    font-size: 16px;
  }

  .button {
    margin: 0 0 20px;

    font-size: 16px;
    height: 56px;
  }

}