.signIn {}

.title {
  margin: 0 0 40px;

  text-transform: uppercase;
  text-align: left;

  font-size: 32px;
}

.input {}

.form {}

.subtitle {
  font-size: 14px;
  color: #bfbebe;
}

.subtitle>span {
  color: #000;
}

.form {}

.inputs {
  margin: 0 0 40px;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  padding: 16px 18px;

  border-radius: 30px;
  border: 1px solid #bfbebe;

  transition: border-color 0.3s;
  outline: none;
}

.input::placeholder {
  color: #bfbebe;
}

.input:hover,
.input:focus {
  border-color: #000;
}

.button {
  margin: 0 0 20px;
  width: 100%;
  height: 56px;

  text-align: center;
  text-transform: uppercase;

  border-radius: 30px;
  border: 1px solid #bfbebe;
  background-color: #bfbebe;

  color: #fff;

  outline: none;
}

.showPass {
  all: unset;
  position: absolute;
  bottom: 14px;
  right: 20px;

  cursor: pointer;
}

.icon {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
}