@import url("../node_modules/modern-normalize/modern-normalize.css");

:root {
  /* FONTS */
  --font-family: "Mulish", sans-serif;

  --font-size-normal: 24px;
  --font-size-small: 12px;
  --font-size-large: 40px;

  --font-weight-medium: 500;
  --font-weight-normal: 400;

  /* COLORS */
  --color-main: #050505;
  --color-gray: #bfbebe;
  --color-white: #fff;
  --color-button: #1a1a1a;

  /* BREAKPOINTS */
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;

  /* BORDER RADIUS */
  --radius-circle: 50%;
  --radius-medium: 30px;
  --radius-small: 10px;
  --radius-large: 60px;

  /* TRANSITION */
  --transition-time: 250ms;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family), sans-serif;
  color: var(--color-main);
  max-width: 1900px;
  margin: 0 auto;
  background-color: var(--color-white);
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  width: 1em;
  height: 1em;
}

.hide {
  display: none;
}
