.modal {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.modal--open {
  display: block;
}

.modal__background {
  position: relative;

  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__window {
  padding: 60px 30px;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  border-radius: 20px;
  width: fit-content;
}

.modal__close {
  all: unset;

  position: absolute;
  top: 16px;
  right: 16px;


  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-icon {
  height: 24px;
  width: 24px;
}