.button {
  background-color: transparent;
  display: flex;
  gap: 16px;
  align-items: center;
  max-width: 150px;
}

.button:hover {
  text-decoration: none;
}

.photo {
  border-radius: var(--radius-medium);
  object-fit: cover;
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-gray);
}

.label {
  font-size: var(--font-size-small);
  line-height: 1.5;
  font-weight: var(--font-weight-medium);
}

.name {
  font-size: var(--font-size-little);
  line-height: 1.43;
  font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 768px) {
  .photo {
    width: 50px;
    height: 50px;
  }

  .label {
    font-size: var(--font-size-little);
    line-height: 1.43;
  }

  .name {
    font-size: var(--font-size-moderate);
    color: var(--color-button);
    line-height: 1.5;
  }
}
